.container {
    display: flex;
    background-color: white;
    flex-direction: column;
    /* align-items: center; */
    padding-left: 5%;
    width: 40%;
    margin: auto;
    height: 30rem;
    border-radius: 20px;
    border-bottom-right-radius: 190px;
    margin-top: 7rem;

}

.topContainer>span>input {
    width: 80px;
    height: 35px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;

}

.liner {
    display: flex;
    /* flex-direction: row; */
    margin-top: 10px;
}

.liner hr {
    width: 500px;
}

.topContainer {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    /* justify-content: space-between; */
}

.dot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: blueviolet;
    cursor: pointer;
    border: none;
}

.bottomContainer>span {
    font-size: 50px;
    font-weight: bolder;

}

.bottomContainer>.dash {
    color: blueviolet;
}

.topContainer>span>input[type="text"]:focus {
    border: 1px solid blueviolet;
}

.box {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.bottomContainer {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 1439px) {
    .container {
        width: 29rem;
        height: 34rem;
    }

    .topContainer>span>input {
        width: 60px;
        height: 37px;
    }

    .liner hr {
        width: 295px;
    }
}